version: "3.8"

services:
  web:
    build: .
    ports:
      - "5002:5000"
    environment:
      - SECRET_KEY=1234
      - FLASK_ENV=development
    volumes:
      - .:/app
    restart: unless-stopped